# 3.2 Arrrays y Matrices

Hasta ahora hemos visto que R trabaja sin problemas con vectores, que son objetos unidimensionales.

Sin embargo, también podemos trabajar con conjuntos de datos multidimensionales mediante arrays. Hay que tener en cuenta que los arrays son rectangulares (es decir que todas las filas deben tener la misma longitud, al igual que todas las columnas y todas las demás posibles dimensiones).

In [6]:
(array_3d <- array(
  1:24,
  dim = c(2, 3, 4),
  dimnames = list(
    c("izquierda", "derecha"),
    c("primero", "segundo", "tercero"),
    c("uno", "dos", "tres", "cuatro")
  )
))
print(array_3d)

, , uno

          primero segundo tercero
izquierda       1       3       5
derecha         2       4       6

, , dos

          primero segundo tercero
izquierda       7       9      11
derecha         8      10      12

, , tres

          primero segundo tercero
izquierda      13      15      17
derecha        14      16      18

, , cuatro

          primero segundo tercero
izquierda      19      21      23
derecha        20      22      24

, , uno

          primero segundo tercero
izquierda       1       3       5
derecha         2       4       6

, , dos

          primero segundo tercero
izquierda       7       9      11
derecha         8      10      12

, , tres

          primero segundo tercero
izquierda      13      15      17
derecha        14      16      18

, , cuatro

          primero segundo tercero
izquierda      19      21      23
derecha        20      22      24

Podemos crear un array de cualquier número de dimensiones mediante la función array, indicándole un vector con todos los valores, otro con la longitud en cada dimensión (lo cual implica cuántas dimensiones queremos) y una lista de vectores con los nombres para las distintas dimensiones.

In [3]:
dim(array_3d)
length(dim(array_3d))

[1] 2 3 4

[1] 3

Si tenemos un array podemos saber cuántas dimensiones tiene y la longitud de cada una con la función dim.

In [7]:
print(array_3d[,1:2,c(2,3)])

, , dos

          primero segundo
izquierda       7       9
derecha         8      10

, , tres

          primero segundo
izquierda      13      15
derecha        14      16

Podemos acceder al array utilizando corchetes "[]" de un modo similar a como lo hacemos con los vectores, pero usando comas para separar las distintas dimensiones (si en una posición no ponemos nada -vacío- obtendremos su contenido completo).
Las matrices son un caso especial de arrays limitado a 2 dimensiones.

In [8]:
(matriz <- matrix(
  1:6,
  nrow = 3, #ncol = 2 hace lo mismo
  dimnames = list(
    c("uno", "dos", "tres"),
    c("arriba", "abajo")
  )
))

     arriba abajo
uno  1      4
dos  2      5
tres 3      6

Podemos crear una matriz con la función matrix, pasándole como argumentos un vector con los números, el número de filas (o de columnas) y una lista de vectores con los nombres para las distintas dimensiones.

In [10]:
print(matriz[,2])

 uno  dos tres
   4    5    6

El acceso a las posiciones de la matriz es igual que en el caso de los arrays, teniendo en cuenta que sólo tienen 2 dimensiones.

In [11]:
matriz2 <- matrix(
  3:8,
  nrow = 3, #ncol = 2 hace lo mismo
  dimnames = list(
    c("uno", "dos", "tres"),
    c("arriba", "abajo")
  )
)

matriz + matriz2

     arriba abajo
uno  4      10
dos  6      12
tres 8      14

Podemos realizar operaciones de álgebra de matrices.

# 3.3 Listas y Dataframes

Vectores, arrays y matrices tienen el inconveniente de que sólo permiten contener elementos de un único típo (por ejemplo todos numéricos o todos cadenas de caracteres).

Una lista es algo equivalente a un vector en el que cada elemento puede ser de un tipo distinto.

In [13]:
(lista <- list(
  c(1, 2, 3),
  33,
  matrix(c(6, 7, 14, 1), nrow = 2),
  mean
))
print(lista)

[[1]]
[1] 1 2 3

[[2]]
[1] 33

[[3]]
     [,1] [,2]
[1,]    6   14
[2,]    7    1

[[4]]
function (x, ...)
UseMethod("mean")
<bytecode: 0x5935ccaabd30>
<environment: namespace:base>

[[1]]
[1] 1 2 3

[[2]]
[1] 33

[[3]]
     [,1] [,2]
[1,]    6   14
[2,]    7    1

[[4]]
function (x, ...)
UseMethod("mean")
<bytecode: 0x5935ccaabd30>
<environment: namespace:base>

Podemos crear una lista mediante la función list, pasándole como argumentos los distintos valores que queramos incluír en ella. 
En este ejemplo hemos creado la lista con un vector, un valor numérico, una matriz y una función (recordemos que R permite usar funciones como si fuesen variables).

In [15]:
names(lista) <- c("vector", "numero", "matriz", "funcion mean")

print(lista)

$vector
[1] 1 2 3

$numero
[1] 33

$matriz
     [,1] [,2]
[1,]    6   14
[2,]    7    1

$`funcion mean`
function (x, ...)
UseMethod("mean")
<bytecode: 0x5935ccaabd30>
<environment: namespace:base>

De igual modo que con los vectores, podemos asignar nombres a sus elementos.

In [16]:
print(lista[2:3])

$numero
[1] 33

$matriz
     [,1] [,2]
[1,]    6   14
[2,]    7    1

Podemos acceder a la lista igual que hacíamos con los vectores.
Los dataframes son el equivalente a matrices (por lo tanto bidimensionales) que pueden almacenar distintos tipos de datos, siendo por lo tanto similares al contenido de una hoja de cálculo.
Por ello están especialmente indicados para trabajar con conjuntos de datos en su formato más común: secuencias de filas, las cuales están formadas por columnas que pueden contener distintos tipos de datos.

In [17]:
v <- 1:5
(mi_dataframe <- data.frame(
x = letters[1:5],
y = v,
z = v > 2
))

  x y z
1 a 1 FALSE
2 b 2 FALSE
3 c 3  TRUE
4 d 4  TRUE
5 e 5  TRUE

Podemos crear dataframes mediante la función data.frame, pasándole los datos por columnas (todas de la misma longitud). Como podemos ver, cada columna puede contener distinto tipo de datos (pero toda la columna el mismo).

In [18]:
mi_dataframe[2:3,c(1,2)]

  x y
2 b 2
3 c 3

Podemos acceder a los dataframes de modo análogo a como lo hacemos con matrices.

In [19]:
mi_dataframe2 <- data.frame(
col4 = 6:10,
col5 = v+3,
col6 = v < 3
)

cbind(mi_dataframe, mi_dataframe2)

  x y z     col4 col5 col6
1 a 1 FALSE  6   4     TRUE
2 b 2 FALSE  7   5     TRUE
3 c 3  TRUE  8   6    FALSE
4 d 4  TRUE  9   7    FALSE
5 e 5  TRUE 10   8    FALSE

Podemos realizar distintas operaciones con dataframes, como por ejemplo enlazarlos por columnas con cbind.

In [21]:
mi_dataframe3 <- data.frame(
x = letters[6:8],
y = 6:8,
z = c(TRUE,FALSE,TRUE)
)

rbind(mi_dataframe, mi_dataframe3)

  x y z
1 a 1 FALSE
2 b 2 FALSE
3 c 3  TRUE
4 d 4  TRUE
5 e 5  TRUE
6 f 6  TRUE
7 g 7 FALSE
8 h 8  TRUE

De modo similar, también podemos enlazar dos dataframes por filas con rbind.