# 4.2 Arrays con Numpy

### Importar NumPy:

In [1]:
import numpy as np

Necesitaremos una línea como ésta para poder usar NumPy (suponiendo que ya está instalado). Se suele utilizar np como alias, pero realmente podemos utilizar el que queramos.

### Crear arrays a partir de listas:

In [2]:
x1 = np.array([1, 2.1, 3, 4.2, 5])
x2 = np.array([ [1,2,3], [4,5,6], [7,8,9] ])
print(x1)
print(x2)

[1.  2.1 3.  4.2 5. ]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Como podemos ver, podemos crear arrays de NumPy usando la función array y pasándole una lista convencional de Python.
Hay que tener en cuenta que dado que todos los elementos deben ser del mismo tipo, si hay valores decimales entonces los enteros pasan también a decimal.
También podemos ver cómo podemos crear arrays multidimensionales a partir de listas multidimensionales.

### Funciones de NumPy para crear arrays:

In [3]:
x1 = np.zeros(5, dtype=float)
x2 = np.ones((2,2,2), dtype=int)
x3 = np.full((2, 4), 2.78)
x4 = np.random.random((2, 2))
print(x1)
print(x2)
print(x3)
print(x4)

[0. 0. 0. 0. 0.]
[[[1 1]
  [1 1]]

 [[1 1]
  [1 1]]]
[[2.78 2.78 2.78 2.78]
 [2.78 2.78 2.78 2.78]]
[[0.29139469 0.44806968]
 [0.62525684 0.20914447]]

NumPy proporciona varias funciones para crear arrays multidimensionales, algunas de las cuales aceptan un parámetro de nombre dtype para indicar el tipo de datos de sus valores.
Aquí hemos visto sólo algunas entre las que NumPy ofrece.

### Acceso a arrays:

In [4]:
x = np.arange(8)
print(x[3])    # El elemento en la posición 3 (empezando desde 0)
print(x[:4])   # Los 4 primeros elementos
print(x[4:])   # Elementos tras el índice 4
print(x[3:6])  # Elementos intermedios
print(x[1::2]) # Elementos de 2 en 2 desde el de índice 1

3
[0 1 2 3]
[4 5 6 7]
[3 4 5]
[1 3 5 7]

Para acceder a arrays utilizamos una notación especial con el caracter ":", según la siguiente sintaxis (suponiendo que x es un array).
x[inicio:final:paso]
Esto nos proporciona los valores entre el índice inicio y el índice final (no incluído), saltando cada paso elementos.
Los valores por defecto si no se indica nada son:
start = 0
stop = tamaño de la dimensión
paso = 1

In [5]:
x = np.array([ [1,2,3], [4,5,6], [7,8,9] ])
print(x)
print(x[2:,:2])
print(x[::2,:])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[7 8]]
[[1 2 3]
 [7 8 9]]

En el caso de arrays multidimensionales accedemos de igual modo, usando el caracter "," para separar el indexado que realizamos dentro de cada dimensión.

In [6]:
x = np.array([ [1,2,3], [4,5,6], [7,8,9] ])
y = x[1:3,1:3]
print(x)
print(y)
y[1,1] = 99
print(y)
print(x) 
z = x[:2,:2].copy()
z[0,0] = 88
print(z)
print(x)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[5 6]
 [8 9]]
[[ 5  6]
 [ 8 99]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8 99]]
[[88  2]
 [ 4  5]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8 99]]

Cuando obtenemos una porción de un array mediante indexación, lo que tenemos realmente es una vista en lugar de una copia de los datos. Por lo tanto, si hacemos una modificación en un determinado valor de la vista, también estaremos modificando el array original.
Para evitar este efecto podemos realizar copias de los arrays mediante la función copy.

### Operaciones con arrays:

In [7]:
x1 = np.array([1,2,3,4,5,6])
x2 = np.array([2,3,4,5,6,7])
print(x1+3)
print(x1*3)
print(x1/2)
print(x1+x2)
print(x1/x2)
print(np.exp2(x1))
print(np.power(3,x1))
print(np.log2(x1))
print(np.log10(x1))
print("Suma:  ", np.sum(x1))
print("Min:   ", np.min(x1))
print("Max:   ", np.max(x1))
print("Media: ", np.mean(x1))
print("Std:   ", np.std(x1))
print("Var:   ", np.var(x1))

[4 5 6 7 8 9]
[ 3  6  9 12 15 18]
[0.5 1.  1.5 2.  2.5 3. ]
[ 3  5  7  9 11 13]
[0.5        0.66666667 0.75       0.8        0.83333333 0.85714286]
[ 2.  4.  8. 16. 32. 64.]
[  3   9  27  81 243 729]
[0.         1.         1.5849625  2.         2.32192809 2.5849625 ]
[0.         0.30103    0.47712125 0.60205999 0.69897    0.77815125]
Suma:   21
Min:    1
Max:    6
Media:  3.5
Std:    1.707825127659933
Var:    2.9166666666666665

Python incluye una gran cantidad de funciones matemáticas aplicables sobre arrays.

In [8]:
x1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x1+3)
print(x1*3)
print(x1/2)
print(np.exp2(x1))
print(np.power(3,x1))
print(np.log2(x1))
print(np.log10(x1))
print("Suma:  ", np.sum(x1))
print("Min:   ", np.min(x1))
print("Max:   ", np.max(x1))
print("Media: ", np.mean(x1))
print("Std:   ", np.std(x1))
print("Var:   ", np.var(x1))

[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[[ 3  6  9]
 [12 15 18]
 [21 24 27]]
[[0.5 1.  1.5]
 [2.  2.5 3. ]
 [3.5 4.  4.5]]
[[  2.   4.   8.]
 [ 16.  32.  64.]
 [128. 256. 512.]]
[[    3     9    27]
 [   81   243   729]
 [ 2187  6561 19683]]
[[0.         1.         1.5849625 ]
 [2.         2.32192809 2.5849625 ]
 [2.80735492 3.         3.169925  ]]
[[0.         0.30103    0.47712125]
 [0.60205999 0.69897    0.77815125]
 [0.84509804 0.90308999 0.95424251]]
Suma:   45
Min:    1
Max:    9
Media:  5.0
Std:    2.581988897471611
Var:    6.666666666666667

Esas funciones también pueden aplicarse sobre arrays multidimensionales.

# 4.3 Análisis con Pandas

Pandas es un librería de Python específicamente creada para manipulación y análisis de datos. Ha sido construida sobre las funcionalidades que ya ofrece NumPy, añadiendo un tipo de datos de vital importancia a la hora de analizar datos, llamado DataFrame.

Un DataFrame es el equivalente a un array bidimensional al que podemos asociar etiquetas tanto para columnas como para filas y que permite trabajar con datos desconocidos.

Del mismo modo que ocurría con NumPy y sus arrays, la gran aportación de Pandas respecto de sus DataFrames es la implementación de una serie de operaciones altamente optimizadas sobre ellos.

Además del tipo DataFrame, Pandas también incluye otra estructura de datos llamada Series, junto con sus correspondientes operaciones. El uso de Series queda fuera del alcance de este curso, pero lo mencionamos aquí para que el alumno conozca su existencia y pueda investigar por su cuenta si se siente interesado.

Veremos a continuación cómo emplear DataFrames de Pandas:

### Importar Pandas:

In [9]:
import pandas as pd

Necesitaremos una línea como ésta para poder usar Pandas (suponiendo que ya está instalado). Se suele utilizar pd como alias, pero realmente podemos utilizar el que queramos.

### Crear DataFrames:

In [10]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
print(df)

       Fruta  Numero
0    Manzana       7
1       Pera       9
2  Mandarina      11

Creamos un DataFrame mediante la función DataFrame. Hemos escogido crear nuestro DataFrame a partir de listas de Python, aunque existen otros modos que el alumno interesado puede investigar.

### Seleccionar una columna:

In [11]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
print(df['Fruta'])

0      Manzana
1         Pera
2    Mandarina
Name: Fruta, dtype: object

Podemos seleccionar una columna accediendo a ella mediante su nombre.

### Añadir y eliminar columnas:

In [12]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
col = [3,5,7]
print(df)
df['OtroNum'] = col
print(df)
del df['Numero']
print(df)

       Fruta  Numero
0    Manzana       7
1       Pera       9
2  Mandarina      11
       Fruta  Numero  OtroNum
0    Manzana       7        3
1       Pera       9        5
2  Mandarina      11        7
       Fruta  OtroNum
0    Manzana        3
1       Pera        5
2  Mandarina        7

Podemos añadir columnas accediendo al array mediante el nombre que tendrá la nueva columna, o eliminar columnas utilizando del.

### Tomar filas:

In [13]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11],['Mango',2]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
print(df)
print(df[1:3])

       Fruta  Numero
0    Manzana       7
1       Pera       9
2  Mandarina      11
3      Mango       2
       Fruta  Numero
1       Pera       9
2  Mandarina      11

Podemos tomar filas indexando mediante la notación inicio:fin:paso del mismo modo que habíamos con los arrays de NumPy.

### Añadir y eliminar filas:

In [15]:
lista = [['Manzana',7],['Pera',9]]
lista2 = [['Mandarina',11],['Mango',2]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
df2 = pd.DataFrame(lista2,columns=['Fruta','Numero'])
df = pd.concat([df,df2])
print(df)
df = df.drop(1)
print(df)

       Fruta  Numero
0    Manzana       7
1       Pera       9
0  Mandarina      11
1      Mango       2
       Fruta  Numero
0    Manzana       7
0  Mandarina      11

Podemos añadir las filas de un DataFrame a otro mediante concat y eliminarlas con drop indicando el valor del índice a eliminar.
Fíjate que en este ejemplo el índice 1 estaba repetido, por lo que se han eliminado dos filas.

In [18]:
lista = [['Manzana',7],['Pera',9]]
lista2 = [['Mandarina',11],['Mango',2]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'],index=['uno','dos'])
df2 = pd.DataFrame(lista2,columns=['Fruta','Numero'],index=['tres','cuatro'])
df = pd.concat([df,df2])
print(df)
df = df.drop('dos')
print(df)

            Fruta  Numero
uno       Manzana       7
dos          Pera       9
tres    Mandarina      11
cuatro      Mango       2
            Fruta  Numero
uno       Manzana       7
tres    Mandarina      11
cuatro      Mango       2

Por supuesto, podemos imponer nuestros propios índices a las filas de los DataFrame, de modo que esos borrados sean únicos.

### Obtener una descripcion de los datos dentro de un DataFrame:

In [19]:
lista = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(lista)
print(df)
print(df.describe())

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
         0    1    2
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

Podemos ver una descripción de los datos que hay dentro de un DataFrame mediante la función describe.